{
	"root": true,
	"extends": ["niksy", "niksy/next", "niksy/browser", "prettier"],
	"plugins": ["prettier", "unicorn"],
	"globals": {
		"globalThis": false
	},
	"rules": {
		"prettier/prettier": 1,
		"unicorn/custom-error-definition": 0
	},
	"overrides": [
		{
			"files": ["karma.conf.js"],
			"env": {
				"node": true,
				"es6": true
			},
			"rules": {
				"no-console": 0
			}
		}
	]
}
